# 🔁 Archivos de compilación
bin/
obj/

# 🧪 Archivo de prueba local (no evaluado por Holberton)
main.cs

# 📂 Carpeta con imágenes originales
images/



# 💻 Archivos del entorno/editor
.vscode/
*.user
*.suo
*.sln

# 🧪 Archivos temporales
*.DS_Store
*.tmp
*.log

